
body{

    background-color:#B0C1EA;
    height: 100vh;
    padding: 10px 0x 100px 100px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    white-space: nowrap;

}

h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: aquamarine;
    /* width: 100%;     */
    font-size: 4rem;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
      padding:  80px 0px 40px 0px;
      white-space: nowrap;

}

p{
    padding:  0px 0px 40px 0px;
}

div{
    white-space: nowrap;


}



.myrow{
    white-space: nowrap;

}

/* 
table{
    text-align: center;
    font-family: 'Solway', serif;
    font-size: 1.5rem;
    padding:  20px 0px 40px 0px;


}

.center {
    margin-left:auto; 
    margin-right:auto;
  }

td{
    font-family: 'Pacifico', cursive;
} */


#list-heading{
    background-color: blueviolet;
}

button{
    background-color: azure;
    border-radius: 6px;
    border: 0;
    margin: 5px;
    text-align: center;

}

button:hover{
    cursor: pointer;
    background-color: #AA8AFF;


}